* {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web';
    font-style: normal;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
}

header {
    background-color: #87509C;
}

.headerMenu {
    max-width: 1011px;
    margin: 0 auto;
    padding-top: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    padding: 11px 18px;
    transition: .3s;
}

.menu li a:hover {
    background-color: #643A79;
    border-radius: 3px;
    transition: .3s;
}

.headerContent {
    padding: 133px 0 145px 0;
    max-width: 908px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 700;
    font-size: 42.1529px;
    line-height: 64px;
    text-align: center;
    color: #F7F3EA;
}

.headerButton {
    margin-top: 26px;
    width: max-content;
    display: flex;
    background-color: #EB7D4B;
    border-radius: 3px;
    border: none;
}

.headerButton a {
    padding: 21px 82px;
    text-decoration: none;
    font-weight: 700;
    font-size: 18.0002px;
    line-height: 27px;
    color: #FFFFFF;
}

.section1 {
    background-color: #17C2A4;
}

.section1Diap {
    padding: 107px 0 122px 0;
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section1Diap h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    text-align: center;
    color: #FFFFFF;
}

.section1Diap p {
    max-width: 577px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.glav {
    background-color: #000000;
    width: 87px;
    height: 4px;
    opacity: 0.15;
    margin: 2px 0 19px 0;
}

.sectionList {
    width: 1050px;
    margin-top: 70px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionList li {
    max-width: 191px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionList li img {
    max-height: 135px;
}

.sectionList li p {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.sectionList li h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 55px 0 13px 0;
}

.section2 {
    background-color: #E7F1F8;
}

.section2Diap {
    padding: 107px 0 127px 0;
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2Diap h2 {
    font-weight: 700;
    font-size: 40.635px;
    line-height: 62px;
    text-align: center;
    color: #3C4761;
}

.section2Diap p {
    font-weight: 400;
    font-size: 18.2857px;
    line-height: 28px;
    text-align: center;
    color: #3C4761;
}

.peapleContent {
    margin-top: 74px;
    width: 1050px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.peapleContent li {
    max-width: 200px;
}

.peapleContent li h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: #27283D;
    text-align: center;
}

.peapleContent li a {
    margin-bottom: 9px;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #30BAE7;
}

.peapleContent li p {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #3C4761;
}

.section3 {
    background-color: #FFFFFF;
}

.section3Diap {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 105px 0 110px 0;
}

.section3Diap h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    text-align: center;
    color: #3C4761;
}

.section3Diap p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #3C4761;
    max-width: 547px;
}

.styleProg {
    list-style-type: none;
    width: 1000px;
}

.section4 {
    background-color: #FFDD99;
}

.section4Diap {
    padding: 108px 0 109px 0;
    max-width: 1105px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section4Diap h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    text-align: center;
    color: #393939;
}

.section4Diap p {
    max-width: 500px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #393939
}

.section4Menu {
    list-style-type: none;
    display: flex;

}

.section4Menu li {
    margin: 37px 5px 65px 5px;
}

.section4Menu li a {
    padding: 6px 24px;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #393939;
    background-color: rgba(0, 0, 0, 0.08);
    transition: .3s;
}

.section4Menu li a:hover {
    background-color: #FFFFFF;
    transition: .3s;
}

.section4Viewer {
    margin-bottom: 18px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section4Viewer p {
    margin: 24px 0 57px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #393939;
}

.section4Button {
    background-color: #17C2A4;
    border: none;
    width: max-content;
    display: flex;
    border-radius: 3px;
}

.section4Button a {
    font-weight: 600;
    font-size: 18.0002px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 22px 59px;
    text-decoration: none;
}

.section5 {
    background-color: #D74680;
}

.section5Diap {
    margin: 0 auto;
    padding-top: 107px;
    max-width: 1076px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section5Diap h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.section5Diap p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.peapleText {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 83px;
}

.peapleText li {
    display: flex;
    margin-bottom: 107px;
}

.peapleText li img {
    margin-bottom: 94px;
}

.textContent {
    width: 360px;

}

.textContent p {
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    color: #FFFFFF;
}

.textContent h3 {
    margin-top: 32px;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: #FFFFFF;
}

.textContent h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFDD99;
}

footer {
    background-color: #3C5499;
}

.footerInput {
    margin: 0 auto;
    max-width: 860px;
    padding: 107px 0 115px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerInput h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    text-align: center;
    color: #FFFFFF;
}

.footerInput p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.footerInput button {
    background-color: #30BAE7;
    width: max-content;
    border-radius: 3px;
    border: none;
    display: flex;
}

.footerInput button a {
    padding: 21px 85px;
    font-weight: 600;
    font-size: 18.0002px;
    line-height: 27px;
    color: #FFFFFF;
    text-decoration: none;
}

.footerMenu {
    background-color: #344B8E;
}

.footerMenu ul {
    margin: 0 auto;
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.footerMenu ul li {
    padding: 41px 0 34px 0;
}

.footerMenu ul li a {
    font-weight: 600;
    font-size: 24px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    transition: .3s;
    text-decoration: none;
}

.footerMenu ul li a:hover {
    color: #30BAE7;
    transition: .3s;
}